# ----------------------------------------
# PARAMETERS
# ----------------------------------------
output_directory = 'AAA/dx_analysis'
dx_output_file_name = 'BBB.dx'	# output filename for the 3D histogram of atom_selection positions

# MODULE FILES TO BE READ IN
visualization_functions_file = 'visualization_functions.py'

# STRUCTURES TO BE USED; whether a trajectory analysis is performed or not
pdb_string = 'CCC'	# string used in glob.glob call to grab file names
selection = 'all'	# String value; specifies your node definition

# ----------------------------------------
# OPTIONAL PARAMETERS:
# ----------------------------------------
# dx parameter
dx_delta = 0.5	# units: Angstrom; 3D histogram cubic bin dimension

# BOOLEANS
summary_boolean = True		# Boolean value; if True, the script will print out a summary file that breaks down the parameters used in the analysis and how to rerun the same analysis

